body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

hr {
    height: 3px;
    background-color: #bcbbbb;
}

img {
    max-width: 100%;
}

.logo {
    margin-top: 15px;
}

.font-bold {
    font-weight: bold;
}

.light-grey-font {
    color: #bcbbbb;
}

.large-font {
    font-size: 50px;
}

.img-round {
    border-radius: 10%;
    border: 1px solid;
}

.project-description {
    color: #747704;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 991px) {
    .move-left-mobile {text-align: left;}
}

@media screen and (max-width: 991px) {
    .border-mobile{
        border: 1px solid #bcbbbb;
        padding: 10px;
    }
}

footer {
    margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
    .move-right-laptop {text-align: right;}
}

@media screen and (max-width: 991px) {
    .disappear-mobile {display: none;}
}

@media screen and (min-width: 450px) and (max-width: 600px) {
    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 601px) and (max-width: 750px) {
    .container {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 751px) and (max-width: 991px) {
    .container {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}